<!-- Nav -->
<app-navv></app-navv>

<!-- Barra de opciones -->
<app-barra-opciones></app-barra-opciones>


<div class="mt-3 container-lg">
    <h1 class="mt-5 font-weight-bold mb-4 text-center">Panel de Administración </h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary border-0" type="submit">Buscar</button>
    </form>
    <div class="mt-4">
        <div class="row btn-primary text-white text-center">
            <div class="col-2">ID</div>
            <div class="col-2">Nombre</div>
            <div class="col-2">Correo Electronico</div>
            <div class="col-6">Acciones</div>
        </div>
    </div>
    <div class="mt-2">
        <div class="row text-center" *ngFor="let item for listAlumn">
            <div class="col-2">{{item.id}}</div>
            <div class="col-2">{{item.nombres}}</div>
            <div class="col-2">{{item.correoPersonal}}</div>

            <div class="col-6 text-center">
                <button type="button" class="btn crud text-white ms-1">
                    <img src="../../../../assets/editar.svg" alt="Editar" width="20">
                </button>
                <button type="button" class="btn crud text-white ms-1">
                    <img src="../../../../assets/eliminar.svg" alt="Eliminar" width="20">
                </button>
                <button type="button" class="btn crud text-white ms-1">
                    <img src="../../../../assets/view.svg" alt="Ver" width="20">
                </button>
                <button type="button" class="btn crud text-white ms-1">
                    <img src="../../../../assets/dar-baja.svg" width="20" alt="Dar de baja">
                </button>
            </div>
        </div>
    </div>
</div>

