<!-- Nav -->
<app-navv></app-navv>

<!-- Modal -->
        
<form>
    <div class="container-md mt-5">
    <div class="row">
        <div class="col-md-4 mt-4">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Escribe tu nombre" id="nombre" name="nombre" [(ngModel)]="estudiante.nombres">
        </div>
        <div class="col-md-4 mt-4">
            <label>Apellido Paterno</label>
            <input type="text" class="form-control" placeholder="Escribe tu apellido paterno" id="apellidoPaterno" name="apellidoPaterno" [(ngModel)]="estudiante.primerApellido">
        </div>
        <div class="col-md-4 mt-4">
            <label>Apellido Materno</label>
            <input type="text" class="form-control" placeholder="Escribe tu apellido materno" id="apellidoMaterno" name="apellidoMaterno" [(ngModel)]="estudiante.segundoApellido">
        </div>
        <div class="col-md-6 mt-4">
            <label>Genero</label>
            <input type="text" class="form-control" placeholder="Escribe tu género" id="genero" name="genero" [(ngModel)]="estudiante.genero">
        </div>
        <div class="col-md-6 mt-4">
            <label>CURP</label>
            <input type="text" class="form-control" placeholder="Escribe tu curp" id="curp" name="curp" [(ngModel)]="estudiante.curp">
        </div>
        <div class="col-md-4 mt-4">
            <label>Estado</label>
            <input type="text" class="form-control" placeholder="Escribe tu curp" id="estado" name="estado" [(ngModel)]="estudiante.estado">
        </div>
        <div class="col-md-4 mt-4">
            <label>Ciudad</label>
            <input type="text" class="form-control" placeholder="Escribe tu curp" id="ciudad" name="ciudad" [(ngModel)]="estudiante.ciudad">
        </div>
        <div class="col-md-4 mt-4">
            <label>Domicilio</label>
            <input type="text" class="form-control" placeholder="Escribe tu curp" id="domicilio" name="domicilio" [(ngModel)]="estudiante.domicilio">
        </div>
        <div class="col-md-4 mt-4 mb-3">
            <label>Celular</label>
            <input type="text" class="form-control" placeholder="Escribe tu curp" id="celular" name="celular" [(ngModel)]="estudiante.celular">
        </div>
        <div class="col-md-4 mt-4 mb-3">
            <label>Telefono</label>
            <input type="text" class="form-control" placeholder="Escribe tu curp" id="telefono" name="telefono" [(ngModel)]="estudiante.telefono">
        </div>
        <div class="col-md-4 mt-4 mb-3">
            <label>Correo Personal</label>
            <input type="email" class="form-control" placeholder="Escribe tu email" id="email" name="email" [(ngModel)]="estudiante.correoPersonal">
        </div>
        <!-- boton -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success border-0" role="button" (click)="create()" data-bs-dismiss="modal">Enviar</button>
        </div>
    </div>
    </div>
</form>