<!-- Nav -->
<app-navv></app-navv>


<!-- Titulo -->
<div class="container-lg">
    
    <!-- Datos Personales  -->
    <div class="display-2 bor my-5 text-center fontTitle col-title">Datos Personales</div>
    <div class="row">
        <div class="col-6 ">
            <div>
                <input class="form-control form-control-lg mt-5" type="text" placeholder="Nombre" aria-label=".form-control-lg nombre">
                <div class="invalid-feedback">
                    Please, choose a name.
                </div>
            </div>  
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Segundo Apellido" aria-label=".form-control-sm segundo-apellido">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="CURP (18 Caracteres)" aria-label=".form-control-lg curp">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Ciudad" aria-label=".form-control-lg ciudad">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Celular" aria-label=".form-control-lg celular">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="E-mail Personal" aria-label=".form-control-lg email-personal">
        </div>
        <div class="col-6">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Primer Apellido" aria-label=".form-control-lg primer-apelliido">
            <select class="form-select mt-5" aria-label=".form-control-lg genero">
                <option selected>Selecciona tu Genero</option>
                <option value="1">Femenino</option>
                <option value="2">Másculino</option>
            </select>
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Estado" aria-label=".form-control-lg ciudad">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Domicilio" aria-label=".form-control-lg celular">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Télefono" aria-label=".form-control-lg email-personal">
        </div>
    </div>
    
    <!-- Datos Escolares -->
    <div class="display-2 bor my-5 text-center fontTitle col-title">Datos Escolares</div>
    <div class="row">
        <div class="col-6 ">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Correo Escolar" aria-label=".form-control-lg correo-escolar">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Carrera" aria-label=".form-control-sm carrera">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Universidad" aria-label=".form-control-lg universidad">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Matricula Escolar" aria-label=".form-control-lg matricula-escolar">
        </div>
        <div class="col-6 ">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Modalidad Escolar" aria-label=".form-control-lg modalidad-escolar">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Plan Educativo" aria-label=".form-control-sm plan-educativo">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Periodo" aria-label=".form-control-lg periodo">
        </div>
    </div>

    <!-- Datos de Ingreso -->
    <div class="display-2 bor my-5 text-center fontTitle col-title">Datos de Ingreso</div>
    <div class="row">
        <div class="col-6 ">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Trámite" aria-label=".form-control-lg tramite">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Perfilamiento" aria-label=".form-control-sm perfilamiento">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Turno" aria-label=".form-control-lg turno">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Horario" aria-label=".form-control-lg horario">
        </div>
        <div class="col-6 ">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Modalidad" aria-label=".form-control-lg modalidad">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="CV" aria-label=".form-control-sm cv">
            <input class="form-control form-control-lg mt-5" type="text" placeholder="Historial Académico" aria-label=".form-control-lg historial-academico">
        </div>
    </div>

    <!-- Boton -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-secondary me-md-2 mb-5" type="button">Enviar</button>
    </div>

</div>
