<div class="mt-4 container-lg">
    <h1 class="mt-5 font-weight-bold mb-4 text-center">Información</h1>
    <div class="table table-responsive" >
        <table class="table table-striped table-bordered mt-5">
            <thead class="mb-3 btn-primary">
                <th class="col">ID</th>
                <th class="col">Turno</th>
                <th class="col">Horario</th>
                <th class="col">Curriculum Vitae (CV)</th>
                <th class="col">Historial Académico</th>
                <th class="clo">Trámite</th>
                <th class="clo">Perfilamiento</th>
                <th class="clo">Modalidad</th>
            </thead>
            <tbody *ngFor="let ingresados of ingresar">
                <tr>
                    <td class="col">{{ingresados.id}}</td>
                    <td class="col">{{ingresados.turno}}</td>
                    <td class="col">{{ingresados.horario}}</td>
                    <td class="col">{{ingresados.cv}}</td>
                    <td class="col">{{ingresados.historialAcademico}}</td>
                    <td class="col">{{ingresados.tramite.nombreTramite}}</td>
                    <td class="col">{{ingresados.perfilamiento.nombrePerfilamiento}}</td>
                    <td class="col">{{ingresados.modalidad.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
