<div class="mt-4">
    <!-- Barra de Opciones -->
    <div class="btn-group w-100 mt-5" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary border-0" (click)="inicio()">Inicio</button>
        <button type="button" class="btn btn-primary border-0">Gestionar Alumno</button>
        <button type="button" class="btn btn-primary border-0">Reportes</button>
        <button type="button" class="btn btn-primary border-0">Cerrar Sesión</button>
    </div>
</div>
