<!-- Nav -->
<app-navv></app-navv>

<div class="mt-4 container-lg">
    <h1 class="mt-5 font-weight-bold mb-4 text-center">Información Datos Escolares</h1>
    <div class="table table-responsive" >
        <table class="table table-striped table-bordered mt-5">
            <thead class="mb-3 btn-primary">
                <th class="col">ID</th>
                <th class="col">Correo Escolar</th>
                <th class="col">Carrera</th>
                <th class="col">Universidad</th>
                <th class="col">Matricula Escolar</th>
                <th class="col">Modalidad Escolar</th>
                <th class="col">Plan Educativo</th>
                <th class="col">Periodo</th>
            </thead>
            <tbody *ngFor="let escolares of escolar">
                <tr>
                    <td class="col">{{escolares.id}}</td>
                    <td class="col">{{escolares.correoEscolar}}</td>
                    <td class="col">{{escolares.carrera}}</td>
                    <td class="col">{{escolares.universidad.nombre}}</td>
                    <td class="col">{{escolares.matriculaEscolar}}</td>
                    <td class="col">{{escolares.modalidadEscolar.nombre}}</td>
                    <td class="col">{{escolares.planesEducativos.nombre}}</td>
                    <td class="col">{{escolares.periodo}}</td>
                    <td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <button type="button" class="btn btn-secondary btn-sm border-0 me-1 text-white col-1 mt-1" (click)="regresar()">Regresar</button>
</div>