<!--    NAV -->
<app-navv></app-navv>

<!-- Pantalla Pricipal -->
<div class="row g-0">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col-8 aling-selft-center">
                <img src="../../../../assets/logo/infotec-body.jpg" alt="INFOTEC" width="90%" class="img-fluid">
            </div>
        <div class="col-4 display-2">
            <div class="d-grid justify-content-center align-items-center boton">
                <button type="button" class="btn btn-secondary letter border-0" (click)="aspirante()"> Aspirante</button>
                <button type="button" class="btn btn-danger letter border-0" (click)="loginAlumno()">Alumno</button>
                <button type="button" class="btn btn-success letter mb-5 border-0" (click)="login()">Administrador</button>
            </div>
        </div>
    </div>
</div>
