
<!-- Nav -->
<app-navv></app-navv>

<div class="container-lg">
    <div class="display-2 bor my-5 text-center fontTitle col-title">Preguntas Frecuentes</div>

    <div class="display-5 my-3 fontTitle">Resuelve tus dudas</div>
    <div class="display-7 my-2 fontTitle">Si tienes dudas o necesitas consultar allgo, puedes llamar al 01800 5322 5662</div>

    <div class="row my-3 display-6">
        <div class="col-9 fontTitle">
            <div class="d-grid gap-2 mt-3">
                <p class="d-inline-flex gap-1 col1">
                    <a class="btn text-white" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">¿Como se realiza el trámite?</a>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse mb-3" id="multiCollapseExample1">
                            <div class="card card-body">
                            Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 fontTitle">
            <div class="d-grid gap-2 mt-2">
                <p class="d-inline-flex gap-1 col2">
                    <a class="btn text-white" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">¿Como se realiza el trámite?</a>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse mb-3" id="multiCollapseExample2">
                            <div class="card card-body">
                            Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 fontTitle">
            <div class="d-grid gap-2 mt-2">
                <p class="d-inline-flex gap-1 col3">
                    <a class="btn text-white" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">¿Como se realiza el trámite?</a>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse mb-3" id="multiCollapseExample3">
                            <div class="card card-body mb-2">
                            Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 fontTitle">
            <div class="d-grid gap-2 mt-2">
                <p class="d-inline-flex gap-1 col4">
                    <a class="btn text-white" data-bs-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">¿Como se realiza el trámite?</a>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse mb-3" id="multiCollapseExample4">
                            <div class="card card-body mb-2">
                            Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-grid gap-2 my-5">
                
            </div>
        </div>
    </div>
</div>
