<!-- Nav -->
<app-navv></app-navv>

<!-- Barra de Opciones -->
<app-barra-opciones></app-barra-opciones>

<!-- Panel del admin -->
<div class="mt-3 container-lg">
    <h1 class="mt-5 font-weight-bold mb-4 text-center">Panel de Administración </h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary border-0" type="submit">Buscar</button>
    </form>
    <div class="mt-4">
        <div class="row btn-primary text-white text-center">
            <div class="col-1">ID</div>
            <div class="col-2">Nombre</div>
            <div class="col-2">Primer Apellido</div>
            <div class="col-2">Segundo Apellido</div>
            <div class="col-5">Acciones</div>
        </div>
    </div>
    <table class="table table-striped mt-3">
        <tbody>
            <div class="row text-center" *ngFor="let Alumno of alumno">
                <div class="col-1">{{Alumno.id}}</div>
                <div class="col-2">{{Alumno.nombres}}</div>
                <div class="col-2">{{Alumno.primerApellido}}</div>
                <div class="col-2">{{Alumno.segundoApellido}}</div>
                <div class="col-5">
                    <button type="button" class="btn btn-primary btn-sm border-0 me-1" [routerLink]="['/crear', Alumno.id]">Editar</button>
                    <button class="btn col3 btn-sm border-0 me-1 text-white" (click)="delete(Alumno)">Eliminar</button>
                    <button class="btn col2 btn-sm border-0 text-white me-1" (click)="verInfo()">Ver</button>
                    <button class="btn col4 btn-sm border-0 text-white">Dar de Baja</button>
                </div>
            </div>
        </tbody>
    </table>
</div>